*{

    margin:0;
    
    padding:0;
    
    box-sizing:border-box;
    
    }
th , td{
   padding: 5px;
}
body{
    font-family:'Roboto Slab', serif;
    margin: 0;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUTExIVFhUXGBcXFxcVFRUVFxcYFRUXFxcXFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0NFQ8NFS0ZFR0rLS0rKystKysrKysrKysrKysrKystLSstKzcrKzctKy0tKysrNy0rNzcrNysrKy0rK//AABEIALcBEwMBIgACEQEDEQH/xAAZAAEBAQEBAQAAAAAAAAAAAAABAAIDBwT/xAArEAACAgECBAYDAQEBAQAAAAAAAQIRITFRQWFx8AMSgZGhscHR4fETUiL/xAAXAQEBAQEAAAAAAAAAAAAAAAAAAQIF/8QAGhEBAQEAAwEAAAAAAAAAAAAAABEBAiExUf/aAAwDAQACEQMRAD8A8m8PFs0qBrgZQdlus7d8TPnW1gl72alXm9QLzbrp+Qnaf+Cqrv6BO9eoUVy5lQ5XHBpJYz3uBmKHw9bLKxgUqCmMe/oKzzCIpv8AgC61unyJSX16hKOTXlAy8Y/wGbeQXQKzRI2ohHABF5FQ9SitQTAKN8bQJ8gmgNL0/hl7fsvKM1fVAYYpEq4lFBDXLAReUEeow1sIGvgHEYzFtX20Bp63VoF8fdhKTT2LO+QLl9fkzLU1NXnpf7CEb/IGaIrZBGoJWjc2v7qc+Ap08gajSyvd4MqNW33ZTYqdY3CjqUIjS/8AXujan6gYzlcEKXLoK43xL1x8hWJI1G28kpWAG5QRKO/wZ4q9DV8ArNW3ZG1LcHF/0DKHkaWC1sKyibNK9gBBZpwAm9AgjEnl4NN+pRAzfMzHU0xiuIGbXqN/GeAtZdbGYtY3AJsrWBkuAIIHFgtjpPxNCuuFdNfcDHi69Eka83L0Lw45x8mKCKMsj5V26GMc3wDxY0wM30ICA6aL49wQ/wA+aCUQiWvMZWwiab5d8QMONGoFyNJaBoNe5KPE0uX3XuGnHqA0ANKzQUIqKhQBIqNAwoiLFIQMtDQr7BgFEaM0BMmiQ0BnzMrsZFFAD5E5Pv8AY0S47BGFEXqxui36fIGWtAmxKwgaaXe5f9E9V+Ba5g0q7sIvPrSovEWcl4f8GvvXYDmRuTadWQGl11w/x6Gb698xUeOO3xCWc8eIBW5pYC1tkq0AojYVl2ai82FMlnlr7klxBSNeYCXGuI1+jLXyVBSAyXEgpRlMaFWBWLKsjYVmjTWSICSBsSYGWSGgCBMiABbBtmmVd6hA9asq96ZN7heO9QJ+5lmp6mWEV99e/kHrn1JPkD5hCnjn0Nt6vK004nKTe50a+P0Bm48/dEaa5r2X6IDN3uEGbn4b2NRikBzcr3sltYxzL3KOzWQqlIbwin86/wAKIC4EtRlNkmwqa0S4FYRWpAUWIxiTjkKkLJL3FhVQMRbAyLGwAgTIUgCgNNAAFXEaBhGZEbpUWNwMvQq5k89EZCFPgCbQqOQbegQeUnHKevIvkJL8P3AudaBJ5DzOqOv/ADxYRi+voRv/AJvhZAc/M9xj75MpG0u7/QA16C5NCq4+xQ0rdhUod9ScgyS3A0hBGn3zQVlIfOPNmWA2IRGgp8wgtBTCpkAoCFBYgDorJokBcQEmgMtgzQMIrIIk3sgJYrfiNU9fcypbIpII03XfdmJSzZry8zM8g09OO5mUvXf9E1gYLugjnJHS9duGwte2TlBBHVJbkc5rLACRq9PwCzohjH/6A05PRcLMyb4ipLiNaBWeBrHAn8j9gMMB5TLZrzBQjdgUmA2LaMVk2FXmImIVEQMBoqIgIiBgaBkwkBSMiQQNk2U0CAb1JoKNKAQcCr1+zdHOce+gXcWVb4sxLDwaiqBLvvoGQo3n8lJ4oWrxj05mp+GEY85Cm9wApVzVjpQSWPf2MgTRrf7OkpLHdehi4rd/AVt8N6KD4PfiZi7thFZ/QG5x76GUWnyKk3xCtNfBPGhldME19gK3BizTigoRpmaGwFMTNiFPlYP6KgAWQC2AWLGKNNBZ05BZpukZDLXnMpLcWtzcIgg8poiDaIiA5+JE5PHQ+kx4qxoGOWfHGUe+BqUnm86fRNPS+fQGsfPfyGBa2+SMECtu9e6Bxybg1l9B4gZlWfgzGJtR9NwXHlowGWi24jS+qyYhJ9TcZejChooFeP6LkFK60DfsHlNIBYMGjUmFZSNhRIBsgTDzAaTExYyAXImUUbmsBqdMpMVHmUDTC5nTkzXlMmoxDOCKydDnDU6BeKIiCghYAREQRxa1y8cBmq2Kccj4kXwDE9Zj4d5I5y6gGYbNLRsKvUfNnkAOS2xw3NRktFgpdeHyZho30A1FboU6aOdFBBWqyMXT0KsWUN2wFsEhb9/0ZsK33/AFvvpxLG9gXIkxrUyAtjxMpDYVZKiixoDUScaMxeTb0C54IGzETQXN6ZhGjQEFLRGfMVhGrIzZNhK1ZGUysFIWSfsVAqKy8pmwU+iIzYhI5ptmEjfhzqxlT2Xe4YZT6UajFp8tOpKlxvkjMneQNOKvX0dmlVMxGSrPdmVoBG4LHVheegJ8sBXSWEsA1RKa69TPiPIG6MSRJk9wrS6mnX+GWUJAaUzNAhAYlXPIfYqaA15cizLkSkGhFG7MOQoDVkpGEyCFsUZRUCt3yKRz85XYRq7KRzTNJWA+YVkygoBT1ILHigJsiS6eogrmn7MJ6kQZTRpO8d6EQAuWQsiA2o68sfkJsiAzF5Ozp90RBWYwexTjhffMSAkYXsRATZvFkQVmUjJEB28uDDIgNrQykRAZbJkQGm6MOTIgMnSEsEQRSjsbhGktwIDHMGRASyN/REEYvn9kRBX/2Q)
}
#titulo{
    color: white;
        font-family:'Roboto Slab', serif;
        }
    
        #nav{
            font-family:'Roboto Slab', serif;
            display: flex;
            padding: 1rem;
            }
        #navlist{
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-between;
             gap: 16px;
        }
        #navitem{
            margin-left: 16px;
        }
        #nav_enlace{
            text-decoration: none;
            color: white;
        }
        header{
            background-color: black;
            padding: 10px;
            height: 80px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            min-height: 100px;
              }
              .titulo2{
                 text-align: center; 
                 color: white;
              }
              ul{
                margin-bottom: 0;
                padding-left: 0;
            }
            .grupoa{
                background-color: white;
                border-radius: 6px;
                border-collapse: collapse;
                text-align: center;
                border: solid 0px;
                margin-bottom: 50px;
                margin: 50px;
                margin-left: 430px;
            }
            .grupob{
                background-color: white;
                border-radius: 6px;
                border-collapse: collapse;
                text-align: center;
                border: solid 0px;
                margin-bottom: 50px;
                margin: 50px;
                margin-left: 430px;
            }
            .grupoc{
                background-color: white;
                border-radius: 6px;
                border-collapse: collapse;
                text-align: center;
                border: solid 0px;
                margin-bottom: 50px;
                margin: 50px;
                margin-left: 430px;
            }
            .grupod{
                background-color: white;
                border-radius: 6px;
                border-collapse: collapse;
                text-align: center;
                border: solid 0px;
                margin-bottom: 50px;
                margin: 50px;
                margin-left: 430px;
            }
            .grupoe{
                background-color: white;
                border-radius: 6px;
                border-collapse: collapse;
                text-align: center;
                border: solid 0px;
                margin-bottom: 50px;
                margin: 50px;
                margin-left: 430px;
            }
            .grupof{
                background-color: white;
                border-radius: 6px;
                border-collapse: collapse;
                text-align: center;
                border: solid 0px;
                margin-bottom: 50px;
                margin: 50px;
                margin-left: 430px;
            }
            .grupog{
                background-color: white;
                border-radius: 6px;
                border-collapse: collapse;
                text-align: center;
                border: solid 0px;
                margin-bottom: 50px;
                margin: 50px;
                margin-left: 430px;
            }
            .grupoh{
                background-color: white;
                border-radius: 6px;
                border-collapse: collapse;
                text-align: center;
                border: solid 0px;
                margin-bottom: 50px;
                margin: 50px;
                margin-left: 430px;
            }
            th{
                padding: 30px;
            }
            th, td{
                padding: 10px;
                border: solid 0px;

            }
            footer{
                width: 100%;
                padding:2rem 8% ;
                background-color: #0e0e0e;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            ul{
                margin-bottom: 0;
                padding-left: 0;
            }
            .logo{
                height: 90px;
                margin-bottom: 1rem;
            }
            .social-icons-container, .footer-menu-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 1rem;
        
            } 
           .social-icon{
               height: 50px;
               width: 50px;
               border-radius: 50px;
               border: solid 1px white;
               background-position: center;
               background-size: 40%;
               background-repeat: no-repeat;
               margin: 1rem;
               background-image:url(../imagenes/logo-youtube.jpg) 
           }
           .social-icon:hover{
               background-color: #121212;
               filter: invert(1);
           }
           .social-icon:nth-of-type(2){
               background-image: url(../imagenes/1adb0e1f5d3800942accbca2422be08e.jpg);
           }
              .social-icon:nth-of-type(3){
               background-image: url(../imagenes/facebooklogo.jpg);
           }
           .social-icon:nth-of-type(4){
            background-image: url(../imagenes/twitter-logo.jpg);
        }
        .footer-menu-container{
            list-style-type: none;
            color: #f2f2f2;
            font-size: 18px;
        }
        .menu-item{
            margin: 1rem 1.5rem;
            cursor: pointer;
            opacity: 0.6;
        }
        .menu-item:hover{
            opacity: 1;
        }
        .copyright{
            color: #f2f2f2;
            opacity: 0.3;
            text-align: center;
        }
        @media screen and (max-width:768px){
            header{
                width: 100%;
            }
            .titulo2{
              padding: 50px; 
            }
            .grupoa{
                margin: 0px;
                margin-left: 150px;
                margin-top: 20px;
            }
            .grupob{
                margin: 0px;
                margin-left: 150px;
                margin-top: 20px;
            }
            .grupoc{
                margin: 0px;
                margin-left: 150px;
                margin-top: 20px;
            }
            .grupod{
                margin: 0px;
                margin-left: 150px;
                margin-top: 20px;
            }
            .grupoe{
                margin: 0px;
                margin-left: 150px;
                margin-top: 20px;
            }
            .grupof{
                margin: 0px;
                margin-left: 150px;
                margin-top: 20px;
            }
            .grupog{
                margin: 0px;
                margin-left: 150px;
                margin-top: 20px;
            }
            .grupoh{
                margin: 0px;
                margin-left: 150px;
                margin-top: 20px;
            }
            .pie-pagina{
                width: 100%;
            }
        }
        @media screen and (max-width:320px){
            .titulo2{
               display: flex;
               justify-content: start;
               align-items: flex-start;
               font-size: 18px;
            }
            header{
                width: 100%;
                min-height: 200px;
            }
            .pie-pagina{
                width: 100%;
            }
            #navlist{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 10px;
            }
            #titulo{
                width: 10px;
            }
            .grupoa{
               position: relative;
               right: 270px;
            }
            .grupob{
                position: relative;
                right: 270px;
            }
            .grupoc{
                position: relative;
                right: 270px;
            }
            .grupod{
                position: relative;
                right: 270px;
            }
            .grupoe{
                position: relative;
                right: 270px;
            }
            .grupof{
                position: relative;
                right: 270px;
            }
            .grupog{
                position: relative;
                right: 270px;
            }
            .grupoh{
                position: relative;
                right: 270px;
            }
            .ceros{
                display: none;
            }
            .titulo2{
                padding:50px;
            }
        }
        @media screen and (max-width:1024px){
            .titulo2{
                padding: 50px;
            }
            .grupoa{
                margin: 0px;
                margin-left: 300px;
                margin-bottom: 100px;
            }
            .grupob{
                margin: 0px;
                margin-left: 300px;
                margin-bottom: 100px;
            }
            .grupoc{
                margin: 0px;
                margin-left: 300px;
                margin-bottom: 100px;
            }
            .grupod{
                margin: 0px;
                margin-left:300px;
                margin-bottom: 100px;
            }
            .grupoe{
                margin: 0px;
                margin-left: 300px;
                margin-bottom: 100px;
            }
            .grupof{
                margin: 0px;
                margin-left: 300px;
                margin-bottom: 100px;
            }
            .grupog{
                margin: 0px;
                margin-left: 300px;
                margin-bottom: 100px;
            }
            .grupoh{
                margin: 0px;
                margin-left: 300px;
                margin-bottom: 100px;
            }
        }
            