*{

    margin:0;
    
    padding:0;
    
    box-sizing:border-box;
    
    }
body{
    font-family:'Roboto Slab', serif;
    margin: 0;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUTExIVFhUXGBcXFxcVFRUVFxcYFRUXFxcXFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0NFQ8NFS0ZFR0rLS0rKystKysrKysrKysrKysrKystLSstKzcrKzctKy0tKysrNy0rNzcrNysrKy0rK//AABEIALcBEwMBIgACEQEDEQH/xAAZAAEBAQEBAQAAAAAAAAAAAAABAAIDBwT/xAArEAACAgECBAYDAQEBAQAAAAAAAQIRITFRQWFx8AMSgZGhscHR4fETUiL/xAAXAQEBAQEAAAAAAAAAAAAAAAAAAQIF/8QAGhEBAQEAAwEAAAAAAAAAAAAAABEBAiExUf/aAAwDAQACEQMRAD8A8m8PFs0qBrgZQdlus7d8TPnW1gl72alXm9QLzbrp+Qnaf+Cqrv6BO9eoUVy5lQ5XHBpJYz3uBmKHw9bLKxgUqCmMe/oKzzCIpv8AgC61unyJSX16hKOTXlAy8Y/wGbeQXQKzRI2ohHABF5FQ9SitQTAKN8bQJ8gmgNL0/hl7fsvKM1fVAYYpEq4lFBDXLAReUEeow1sIGvgHEYzFtX20Bp63VoF8fdhKTT2LO+QLl9fkzLU1NXnpf7CEb/IGaIrZBGoJWjc2v7qc+Ap08gajSyvd4MqNW33ZTYqdY3CjqUIjS/8AXujan6gYzlcEKXLoK43xL1x8hWJI1G28kpWAG5QRKO/wZ4q9DV8ArNW3ZG1LcHF/0DKHkaWC1sKyibNK9gBBZpwAm9AgjEnl4NN+pRAzfMzHU0xiuIGbXqN/GeAtZdbGYtY3AJsrWBkuAIIHFgtjpPxNCuuFdNfcDHi69Eka83L0Lw45x8mKCKMsj5V26GMc3wDxY0wM30ICA6aL49wQ/wA+aCUQiWvMZWwiab5d8QMONGoFyNJaBoNe5KPE0uX3XuGnHqA0ANKzQUIqKhQBIqNAwoiLFIQMtDQr7BgFEaM0BMmiQ0BnzMrsZFFAD5E5Pv8AY0S47BGFEXqxui36fIGWtAmxKwgaaXe5f9E9V+Ba5g0q7sIvPrSovEWcl4f8GvvXYDmRuTadWQGl11w/x6Gb698xUeOO3xCWc8eIBW5pYC1tkq0AojYVl2ai82FMlnlr7klxBSNeYCXGuI1+jLXyVBSAyXEgpRlMaFWBWLKsjYVmjTWSICSBsSYGWSGgCBMiABbBtmmVd6hA9asq96ZN7heO9QJ+5lmp6mWEV99e/kHrn1JPkD5hCnjn0Nt6vK004nKTe50a+P0Bm48/dEaa5r2X6IDN3uEGbn4b2NRikBzcr3sltYxzL3KOzWQqlIbwin86/wAKIC4EtRlNkmwqa0S4FYRWpAUWIxiTjkKkLJL3FhVQMRbAyLGwAgTIUgCgNNAAFXEaBhGZEbpUWNwMvQq5k89EZCFPgCbQqOQbegQeUnHKevIvkJL8P3AudaBJ5DzOqOv/ADxYRi+voRv/AJvhZAc/M9xj75MpG0u7/QA16C5NCq4+xQ0rdhUod9ScgyS3A0hBGn3zQVlIfOPNmWA2IRGgp8wgtBTCpkAoCFBYgDorJokBcQEmgMtgzQMIrIIk3sgJYrfiNU9fcypbIpII03XfdmJSzZry8zM8g09OO5mUvXf9E1gYLugjnJHS9duGwte2TlBBHVJbkc5rLACRq9PwCzohjH/6A05PRcLMyb4ipLiNaBWeBrHAn8j9gMMB5TLZrzBQjdgUmA2LaMVk2FXmImIVEQMBoqIgIiBgaBkwkBSMiQQNk2U0CAb1JoKNKAQcCr1+zdHOce+gXcWVb4sxLDwaiqBLvvoGQo3n8lJ4oWrxj05mp+GEY85Cm9wApVzVjpQSWPf2MgTRrf7OkpLHdehi4rd/AVt8N6KD4PfiZi7thFZ/QG5x76GUWnyKk3xCtNfBPGhldME19gK3BizTigoRpmaGwFMTNiFPlYP6KgAWQC2AWLGKNNBZ05BZpukZDLXnMpLcWtzcIgg8poiDaIiA5+JE5PHQ+kx4qxoGOWfHGUe+BqUnm86fRNPS+fQGsfPfyGBa2+SMECtu9e6Bxybg1l9B4gZlWfgzGJtR9NwXHlowGWi24jS+qyYhJ9TcZejChooFeP6LkFK60DfsHlNIBYMGjUmFZSNhRIBsgTDzAaTExYyAXImUUbmsBqdMpMVHmUDTC5nTkzXlMmoxDOCKydDnDU6BeKIiCghYAREQRxa1y8cBmq2Kccj4kXwDE9Zj4d5I5y6gGYbNLRsKvUfNnkAOS2xw3NRktFgpdeHyZho30A1FboU6aOdFBBWqyMXT0KsWUN2wFsEhb9/0ZsK33/AFvvpxLG9gXIkxrUyAtjxMpDYVZKiixoDUScaMxeTb0C54IGzETQXN6ZhGjQEFLRGfMVhGrIzZNhK1ZGUysFIWSfsVAqKy8pmwU+iIzYhI5ptmEjfhzqxlT2Xe4YZT6UajFp8tOpKlxvkjMneQNOKvX0dmlVMxGSrPdmVoBG4LHVheegJ8sBXSWEsA1RKa69TPiPIG6MSRJk9wrS6mnX+GWUJAaUzNAhAYlXPIfYqaA15cizLkSkGhFG7MOQoDVkpGEyCFsUZRUCt3yKRz85XYRq7KRzTNJWA+YVkygoBT1ILHigJsiS6eogrmn7MJ6kQZTRpO8d6EQAuWQsiA2o68sfkJsiAzF5Ozp90RBWYwexTjhffMSAkYXsRATZvFkQVmUjJEB28uDDIgNrQykRAZbJkQGm6MOTIgMnSEsEQRSjsbhGktwIDHMGRASyN/REEYvn9kRBX/2Q)
    }
    #titulo{
color: white;
    font-family:'Roboto Slab', serif;
    }

    #nav{
        font-family:'Roboto Slab', serif;
        display: flex;
        padding: 1rem;
        }
    #navlist{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
         gap: 16px;
    }
    #navitem{
        margin-left: 16px;
    }
    #nav_enlace{
        text-decoration: none;
        color: white;
    }
    header{
        background-color: black;
        padding: 10px;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        min-height: 100px;
          }
          .fasefinal{
              padding-left: 150px;
              padding-bottom: 100px;
          }
          .titulo2{
              text-align: center;
              color: white;
          }
          footer{
            width: 100%;
            padding:2rem 8% ;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .logo{
            height: 90px;
            margin-bottom: 1rem;
        }
        .social-icons-container, .footer-menu-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 1rem;
    
        } 
       .social-icon{
           height: 50px;
           width: 50px;
           border-radius: 50px;
           border: solid 1px white;
           background-position: center;
           background-size: 40%;
           background-repeat: no-repeat;
           margin: 1rem;
           background-image:url(../imagenes/logo-youtube.jpg) 
       }
       .social-icon:hover{
           background-color: #121212;
           filter: invert(1);
       }
       .social-icon:nth-of-type(2){
           background-image: url(../imagenes/1adb0e1f5d3800942accbca2422be08e.jpg);
       }
          .social-icon:nth-of-type(3){
           background-image: url(../imagenes/facebooklogo.jpg);
       }
       .social-icon:nth-of-type(4){
        background-image: url(../imagenes/twitter-logo.jpg);
    }
    .footer-menu-container{
        list-style-type: none;
        color: #f2f2f2;
        font-size: 18px;
    }
    .menu-item{
        margin: 1rem 1.5rem;
        cursor: pointer;
        opacity: 0.6;
    }
    .menu-item:hover{
        opacity: 1;
    }
    .copyright{
        color: #f2f2f2;
        opacity: 0.3;
        text-align: center;
    }
    .brasil{
        text-align: center;
        color: white;
    }
    .brasil-ft{
        transform: translateX(300px);
    }
    .bratex{
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .alemania{
        color: white;
        text-align: center;
    }
    .alemania-ft{
        transform: translateX(300px);
    }
    .aletex{
        color: white;
        text-align: center;
        font-size: 20px;
    }
    .italia{
        color: white;
        text-align: center;
    }
    .italia-ft{
        transform: translateX(300px);
    }
    .itatex{
        color: white;
        text-align: center;
        font-size: 20px;
    }
    @media screen and (max-width:768px){
        .pie-pagina{
         width: 100%;
        }
        header{
           width: 100%; 
        }
        .titulo2{
            margin: 0px;
        }
        .brasil{
            margin: 0px;
        }
        .brasil-ft{
            margin: 0px;
            padding-right: 200px;
        }
        .bratex{
            margin: 0px;
        }
        .alemania{
           margin: 0px;
        }
        .alemania-ft{
            margin: 0px;
            padding-right: 200px;
        }
        .aletex{
            margin: 0px;
        }
        .italia{
            margin: 0px;
        }
        .italia-ft{
            margin: 0px;
            padding-right: 200px;
        }
        .itatex{
            margin: 0px;
        }
        
    }
    @media screen and (max-width:1024px){
        .brasil-ft{
           margin: 0px;
           padding-right: 300px;
           width: 70%;
        }
        .alemania-ft{
          margin: 0px;
          padding-right: 300px; 
          width: 70%; 
        }
        .italia-ft{
           margin: 0px;
           padding-right: 300px;
           width: 70%;
        }
        
    }
    @media screen and (max-width:320px){
        .brasil-ft{
        padding-right: 2px;
        position: relative;
        right: 250px;
        }
        .alemania-ft{
         padding-right: 2px;
         position: relative;
         right: 250px;
        }
        .italia-ft{
        padding-right: 2px;
        position: relative;
        right: 250px;
        }
        header{
            width: 100%;
            min-height: 200px;
        }
        .pie-pagina{
            width: 100%;
        }
        #navlist{
           display: flex;
           flex-direction: column; 
           align-items: center;
        }
    }